.direnv
# created when `just test <service>` is used
/result
# created when `just run <service>` is used
/test/data

# created when `just run ex-*` is used
/example/share-services/pgweb/data/
/example/simple/data/
/example/grafana-tempo/data/

/.pre-commit-config.yaml
