name: "CI"
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  checks:
    runs-on: ${{ matrix.system }}
    permissions:
      contents: read
    strategy:
      matrix:
        system: [
          x86_64-linux, 
          aarch64-darwin
          # See https://github.com/juspay/services-flake/issues/231
          # x86_64-darwin
        ]
    steps:
      - uses: actions/checkout@v4
      - run: nixci build --extra-access-tokens ${{ secrets.GITHUB_TOKEN }} --systems "github:nix-systems/${{ matrix.system }}"
